@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<br/><br/><br/>
<h2><b>Hello, you can contact us via Email or Live Chat, or by phone at 414-865-5231</b></h2>
<h3>Hour office hours are Monday - Saturday 8 AM - 6 PM</h3>
