@{
    ViewBag.Title = "About IseSystems Conputer Services LLC";
}
<h2>@ViewBag.Title</h2>
<h3>Live Chat</h3>
<p>A representative will be available for live chat</p>
<h3>Telephone</h3>
<p>Please call our personal assistants Julie or Anna at: 414-865-5231</p>
<h3>On-Site</h3>
<p>We support seniors and can schedule on-site hours for an additional charge.</p>
<h3>Hours Of Operation</h3>
<p>Mon. - Sat.<p>
<p>8:00 AM to 6:00 PM</p>
<h2>Project Technologies</h2>
<ul>
    <li>ASP.NET MVC5 Standard with Entity Framework 6</li>
    <li>Bootrap Mobile Framework</li>
    <li>ASP.NET SignalR Real-time Chat</li>
    <li>On-Site E-mail Contact Form</li>
</ul>