
@{
    Layout = null;
    var totalBill = ViewBag.TotalBill;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charge</title>
</head>
<body>
    <div>
        <h2>You successfully paid <strong>$@totalBill</strong></h2>
    </div>
</body>
</html>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>