@{
    ViewBag.Title = "Home Page";
}
@*<img src="~/Content/Images/ComputerDoctor.jpg" width="1920" height="625" alt="HTML5 Icon" style="width:128px;height:128px;">*@
<img src="~/Content/Images/ComputerDoctor.jpg" width="1920" height="625" alt="PC Doctor" style="width:1140px;height:250px;">
<p>
    @Html.ActionLink("Employee List", "Index", "Employees")
</p>

@*<div class="jumbotron">*@
<div>
    <center>
        @*<h1>IseSystems Computer Services LLC</h1>*@
        <img src="~/Content/Images/IseSystemsComputerServicesLogo3.gif" width="1061" height="97" alt="PC Doctor" style="width:1061px;height:97px;">
    </center>
</div>

<div class="jumbotron">
    <h3>Welcome to our online service shop for all your computer needs.</h3>
    <p class="lead">From here, you can chat to one of our friendly staff, or you can even send us an email and we will contact you promptly.</p>
    <p class="lead">Please register an account if you wish to submit an order for your computer work.</p>
    <p class="lead">Please provide a brief descriptions for your computer problem and a picture of the error screen, if applicable.</p>
    <p class="lead">You can login to our website anytime to view the status and details or your order.</p>
    <p class="lead">Once our staff has finished working on your computer, you have the option of paying directly online with your credit card. </p>
    <p class="lead">...And please leave a rating for the employee that works on your computer, so that we may serve you better in the future. </p>
    <p class="lead">Thank you for your patronage...</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
